<nav
  class="relative flex w-full items-center justify-between bg-[#FBFBFB] shadow-md shadow-black/5 dark:shadow-black/10 py-5 px-6"
>
  <div class="flex w-full items-center justify-between flex-1">
    <div class="items-center lg:!flex lg:basis-auto">
      <!-- Logo -->
      <a
        class="mb-4 ml-2 mr-5 mt-3 flex items-center text-neutral-900 hover:text-neutral-900 focus:text-neutral-900 dark:text-neutral-200 dark:hover:text-neutral-400 dark:focus:text-neutral-400 lg:mb-0 lg:mt-0"
        href="/"
      >
        <img
          src="/images/logo-labs-company.png"
          alt="Labs Company"
          loading="lazy"
        />
      </a>
    </div>

    <ul class="list-style-none flex items-center gap-8">
      <li class="mb-4 lg:mb-0 lg:pr-2">
        <a
          class="transition duration-200 text-black font-bold text-lg font-manrope"
          href="/"
        >
          Nosotros
        </a>
      </li>
      <li class="mb-4 lg:mb-0 lg:pr-2">
        <a
          class="transition duration-200 text-black font-bold text-lg font-manrope"
          href="#services"
        >
          Servicios
        </a>
      </li>
      <li class="mb-4 lg:mb-0 lg:pr-2">
        <a
          class="transition duration-200 text-black font-bold text-lg font-manrope"
          href="https://labs-academy.vercel.app/"
        >
          Academia
        </a>
      </li>
    </ul>
  </div>
</nav>
