{{ define "main" }}

<!-- BANNER -->
{{ with .Params.banner }}
<section class="pt-24 flex justify-center items-stretch gap-x-8 px-8 lg:flex-row flex-col">
  <article class="w-full flex items-start flex-col justify-center lg:pl-12">
    <h1 class="text-8xl font-bold font-manrope balance uppercase">{{ .Title }}</h1>
    <p class="balance py-6">{{ .Content }}</p>
    <a href="#" class="bg-black text-white p-2 px-6 shadow-md hover:opacity-80">Contactanos</a>
  </article>
  <figure class="w-full flex items-center justify-center">
    <img src="/images/logo-labs-company-hero.png"/>
  </figure>
</section>
{{ end }}
<!-- END BANNER -->

{{ end }}
